<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com" target="_blank" class="iconLinkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com" target="_blank" class="iconTwitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.github.com" target="_blank" class="iconGithub">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">&copy; 2020 Copyright: inunes</span>
    </div>

</footer>