<div class="container-fluid">
    
    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 w-100">

                    <h2 class="text-center mb-3 fs-22">Login</h2>
                    
                    <div class="form-group">
                        <label for="user" class="fs-12">Usuário</label>
                        <input [(ngModel)]='userLogin.usuario' class="form-control" type="text" name="user" id="user" placeholder="Seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="password" class="fs-12">Senha</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="password" id="password" placeholder="Sua senha">
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success fs-12" type="submit" (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center fs-12">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                    </p>

                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg"></div>
    </div>

</div>