.fs-12 {
    font-size: 12px;
}

.fs-22 {
    font-size: 22px;
}

#img-bg {
    background-image: url('https://bit.ly/2LN2uDK');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-20 {
    padding: 0 10% 0 10%;
}
.row {
    height: 100vh;
}